
.container{
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPost{
    background-color: orange;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}